/* main body style */

.main-body {
  padding: 0px;
  color: navy;
}
/* website banner style */

.banner {
  
  border-radius: 10px;
  padding: 50px;
  margin-top: 0px;
  color: black;
  animation: 5s fadeIn;
}
.banner h1 {
  color: navy;
  font-weight: 900;
}

.banner img {
  border-radius: 30%;
}