/* main body style */

.main-body {
  padding: 0px;
  color: navy;
}
/* website banner style */

.banner {
  
  border-radius: 10px;
  padding: 50px;
  margin-top: 0px;
  color: black;
  animation: 5s fadeIn;
}

.site_title{
  color: #22577A;
  font-size: 80px;
  font-weight: bolder;
  padding-left: 120px;


}

.banner img {
  border-radius: 10%;
  
}

.moto{
  padding-left: 110px;
  color : #6d6a5e;

}

.site_des{
  text-align: center;
  padding-left: 80px;
  color : #77ACF1;
}

