.nav-bar {
  padding-top: 5px;
  background-image: linear-gradient(#0f3d75,#1b4d89);
  font-size: medium;
  color: white;
  font-weight: bolder;
  height: auto;
}

/* Logo image style */
.logo {
  width: 200px;
  height: 150px;
}
